* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--fondo-pagina);
    font-family: var(--font-family);
}

:root {
    --main-color: #4CAF50;
    --secondary-color: #ff5722;
    --font-family: 'Arial, sans-serif';
    --botones-color: #008CBA;
    --fondo-pagina: antiquewhite;
}

body {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    color: #333;
    text-align: center;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input[type="text"] {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--botones-color);
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: var(--secondary-color);
}

button#btnLimpiar {
    background-color: red;
}

button#btnLimpiar:hover {
    background-color: darkred;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    border-bottom: 1px solid #eee;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

li:hover {
    background-color: #f9f9f9;
}
li.completed {
    text-decoration: line-through;
    color: gray;
}
li.completed:hover {
    background-color: #f1f1f1;
}